/*
 * CS402-HW3
 *
 * @Author Prasanna Shiwakoti
 * @Modified 3/10/2017
 */

/* all paragraphs are inline */
p {
    display: inline;
}

/* color labels, attached to corresponding color picker */
.color-label {
    border: 1px solid #a9a9a9;
    padding-left: 2px;
}

/* all divs as well as forms in game-list div*/
.game-list-div, .page-header-game-list {
    background-color: #27eeb6;
    padding: 10px 20px;
    border-radius: 10px;
    border-bottom: 5px double #57b0e6;
    border-left: 5px double #57b0e6;
}

/* guess count*/
.guess-count {
    padding-right: 10px;
}

/* guessed letter highlighting */
.guessed-letter {
    margin: 0 1px;
    display: inline-block;
    height: 35px;
    width: 20px;
    font-size: 25px;
    text-align: center;
}

/* guessed letters highlighting */
.guessed-letter-sm {
    margin: 0 1px;
    display: inline-block;
    height: 30px;
    width: 25px;
    font-size: 20px;
    text-align: center;
}

/* hidden letter highlighting */
.hidden-letter {
    margin: 0 1px;
    display: inline-block;
    height: 45px;
    width: 30px;
    font-size: 35px;
    text-align: center;
}

/* all divs in login page*/
.page-header-login, .login-div {
    background-color: #47ee71;
    padding: 10px 20px;
    border-radius: 10px;
    border-bottom: 5px double #57b0e6;
    border-left: 5px double #57b0e6;
}

/* div with login form*/
.login-div {
    padding: 30px 20px;
}

/* all dropdown pickers labels and difficulty (2nd) select */
.picker-dropdown {
    margin-right: 10px;
}

/* removing borders from tables with no-border class */
.table.no-border tr td,.table.no-border tr th {
    border-width: 0px;
}

/*  current-games-list use pointer as cursor */
#current-games-list, #current-users-list{
    cursor: pointer;
}

/* div with guess and hidden letters*/
#game-words {
    margin-top: 20px;
}

/* game div  */
#game-well {
    background-color: #cbee38;
    padding: 10px 20px;
    border-radius: 10px;
    border-bottom: 5px double #57b0e6;
    border-left: 5px double #57b0e6;
}

/* input to right of guess count*/
#guess-input {
	width: 40px;
	height: 30px;
}